<header>
  <%= image_tag('front_banner.jpg', class: 'front-banner') %>
  <nav>
    <%= link_to 'home', root_path, class: "material-icons mobile-exclusive mobile-menu" %>
    <!-- <a class="material-icons mobile-exclusive mobile-menu">home</a> -->
    <span class="divider mobile-exclusive"></span>
    <h1>OKKY</h1><!-- Prevent whitespace
 --><div class="items">
      <a class="material-icons hide-on-mobile">home</a>
      <a>Toinen sivu</a>
      <a>Kolmas sivu</a>
    </div>
    <span class="divider"></span>
    <%= form_tag '', class: 'search' do %>
      <%= text_field_tag :q, nil, placeholder: 'Hae jotakin...' %>
      <%= submit_tag 'search', class: 'material-icons' %>
    <% end %>
    <a href="" id="open-mobile-menu"
       class="material-icons mobile-exclusive mobile-menu"
       >menu</a>
  </nav>
</header>
