<!DOCTYPE html>
<html>
<head>
  <% title_base = "OKKY" %>
  <title><%= if @title.present? then "#{title_base} - #{@title}" else title_base end %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= google_webfonts_init google: ['Signika Negative',
    'Montserrat', 'Lora', 'Material Icons'] %>
</head>
<body>

<%= render 'layouts/header', cache: true %>

<% unless @custom_layout %>
  <div class="container">
    <h2>Tekstiä</h2>
    <%= yield %>
  </div>
  <div class="container">
    <h2>Tekstiä</h2>
    <%= yield %>
  </div>
  <div class="container">
    <h2>Tekstiä</h2>
    <%= yield %>
  </div>
<% else %>
  <%= yield %>
<% end %>

<footer>
  <span class="text">
    <%= link_to 'Lähteikäs koodi', 'https://github.com/ollpu/okky' %>
  </span>
</footer>

</body>
</html>
